.all_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  padding: 20px;
  background-color: #666;
  color: white;
}

.body {
  display: flex;
  flex-grow: 1;
}

.col-1 {
  background-color: lightblue;
  flex-grow: 1;
}

.col-2 {
  background-color: honeydew;
  width: 160px;
  order: -1;
}

.col-3 {
  background: peachpuff;
  width: 160px;
}

@media (max-width:700px) {
  .body {
    flex-direction: column;
  }
  .col-2, .col-3 {
    width: auto;
  }
}
