/*
font-family: 'Knewave', cursive;
font-family: 'Share Tech Mono', monospace;*/

body {
  margin: 0px;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
}

.all_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  padding: 20px 0px 10px 20px;
  /*background-color: #668eac;*/
  background: #2a88c5  url(http://zmwlt.com/bucket/cz-20150128-what-color-2-bg.jpg) center center / 70%;
  text-align:center;
  align-content: center;
}

.title {
  font-family: 'Geostar Fill', cursive;
  font-size: 3em;
  font-weight: bolder;
  margin: 0px;
}

.body {
  display: flex;
  flex-grow: 1;
}

.col-1 {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  color: rgb(2, 5, 29);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.question {
  text-align: center;
  justify-content: flex-end;
  font-family: 'Geostar Fill', cursive;
  font-size: 5em;
  padding: 10px;
  min-width: 300px;
  background-color: #4aa1cc;
  color: #ffffff;
}

.answer {
  display: flex;
}

.answer_box {
  text-align: center;
  justify-content: flex-end;
  min-width: 300px;
  padding: 10px;
  font-size: 1em;
  font-family: 'Geostar Fill', cursive;
}

.col-2 {
  display: flex;
  flex-direction: column;
  background-color: #8db7d6;
  width: 160px;
  order: -1;
}

.select, .score {
  font-family: 'Geostar Fill', cursive;
  background-color: #1d679f;
  text-align:center;
  align-content: center;
}

.score{
  flex-grow: 2;
}

.operand_choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 20px;
  flex-grow: 1;
}

button {
  padding: 10px;
  font-size: 1em;
  font-family: 'Share Tech Mono', monospace;
  background-color: rgb(33, 70, 113);
  color: #ffffff;
}

button:hover {
  background-color:#2f75aa;
}

button:focus {
  background-color: rgb(170, 25, 25);
}

.image_button {
  font-family: 'Share Tech Mono', monospace;

}

.col-3 {
  background: rgb(170, 25, 25);
  width: 160px;
}

footer {
  padding: 20px;
  background-color: #2f75aa;
}


@media (max-width:700px) {
  .body, .col-2 {
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: row;
    flex: 0 0 0;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
  }
  .col-2, .col-3 {
    width: auto;
  }
}
