/*
font-family: 'Knewave', cursive;
font-family: 'Share Tech Mono', monospace;*/

body {
  margin: 0px;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
}

.all_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  padding: 20px 0px 10px 20px;
  background: #2a88c5  url(http://zmwlt.com/bucket/cz-20150128-what-color-2-bg.jpg) center center / 70%;
  text-align:center;
  min-height: 50px;
  align-content: center;
  justify-content: center;
}

.title {
  font-family: 'Geostar Fill', cursive;
  font-size: 2em;
  font-weight: bolder;
}

.content {
  display: flex;
  flex-grow: 1;
  background-color: rgb(121, 162, 204);
  flex-shrink: 0;
  align-self: center;
  width: 100%;
}

.zapato{
  display: flex;
  flex-grow: 1;
}

.col-1 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: rgb(2, 5, 29);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 10px, 0px, 10px, 10px;
  margin-bottom: 10px;
}

.feedback {
  padding: 10px;
  font-family: sans-serif, monospace;
  font-variant: small-caps;
  font-weight: 600;
  /*font-family: 'Geostar Fill', cursive;*/
  text-shadow: -1px 0 rgb(36, 106, 150), 0 1px rgb(36, 106, 150), 1px 0 rgb(36, 106, 150), 0 -1px rgb(36, 106, 150);
  color: rgb(255, 255, 255);
  background-color: rgb(20, 93, 163)blue;
  max-width: 350px;
  font-size: 4em;
  /*align-self: center;*/
  justify-content: center;
}

.robot {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(https://cdn.pbrd.co/images/8Esl4Hi1t.png);
  background-repeat: no-repeat;
  margin: 30px 10px 0px 30px;
  min-width: 260px;
  min-height: 374px;
}

.question {
  text-align: center;
  justify-content: flex-end;
  font-family: sans-serif, monospace;
  /*font-family: 'Geostar Fill', cursive;*/
  font-size: 8em;
  min-height: 150px;
  min-width: 400px;
  background-color: #5488b4;
  color: #ffffff;
  /*border-style: ridge;*/
  border-color: blackrgb(8, 53, 71);
}

.answer {
  display: flex;
}

.answer_box {
  text-align: center;
  justify-content: flex-end;
  min-width: 300px;
  padding: 10px;
  font-size: 1em;
  /*font-family: 'Geostar Fill', cursive;*/
}

.next_options {
  margin: 10px;
}

.col-2 {
  display: flex;
  flex-direction: column;
  background-color: #8db7d6;
  width: 160px;
  order: -1;
}

.select, .score {
  font-family: 'Geostar Fill', cursive;
  background-color: #3686c3;
  text-align:center;
  align-content: center;
}

.score{
  /*flex-grow: 2;*/
}

.operand_choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 20px;
  flex-grow: 1;
}

button {
  padding: 10px;
  font-size: 1em;
  font-family: 'Share Tech Mono', monospace;
  background-color: rgb(33, 70, 113);
  color: #ffffff;
}

button:hover {
  background-color:#2f75aa;
}

button:focus {
  background-color: rgb(170, 25, 25);
}

.image_button {
  font-family: 'Share Tech Mono', monospace;

}

.col-3 {
  display: flex;
  /*flex-grow: 1;*/
  flex-direction: column;
  background: rgb(170, 25, 25);
  width: 20%;
  justify-content: space-around;
}

.numX, .numY {
  display: flex;
  align-content: center;
  flex: 0 1 1;
  padding: 5px;
  /*flex: 1;*/
  /*flex-direction: column;*/
  flex-wrap: wrap;
  padding: 10px;
}

.head {
  height: 8%;
  max-width: 50%;
}

.circle {
  height: 8%;
  border-radius: 50%
  backcground-color: blue;
}

footer {
  padding: 20px;
  background-color: #2f75aa;
}


@media (max-width:800px) {
  .col-2, .robot {
    flex-direction: column;
    align-content: center;
  }

  .zapato {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 30px;
  }

  .col-2 {
    order: 2;
  }

  .content {
    flex-direction: column;
    align-items: stretch;
  }

  .operand_choice {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    flex: 0 0 1;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .col-2, header {
    width: auto;
    min-height: 40px;
  }

  .col-1 {
    margin: -19px;
    align-self: center;
  }

  .col-3 {
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-start;
  }

  .numX, .numY {
    flex-direction: column;
  }

  .question {
    /*align-self: center;*/
    justify-content: center;
  }

  .robot {
    display: flex;
    align-self: center;
    background-image: url(https://cdn.pbrd.co/images/8Esl4Hi1t.png);
    background-repeat: no-repeat;
    min-height: 210px;
  }

  .select {
    display: none;
  }
}
